@using Makale.Entities
@model Kullanici
@{
    ViewBag.Title = "ProfileDuzenle";
}
<link href="~/Content/validation-summary-css.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2>Profiliniz</h2>
        <hr />
    </div>

    <div class="row">
        @using (Html.BeginForm("ProfileDuzenle","Home",FormMethod.Post,new { enctype="multipart/form-data"}))
        {
                <div class="form-horizontal">

                    <div class="col-md-3">
                        <img src="~/Image/@Model.ProfileImageFile"
                             class="img-circle" width="130" height="130" />
                        <br /><br />
                       @Html.HiddenFor(model=>model.ProfileImageFile)                       
                        
                        <input type="file" name="profileimage" id="profileimage" class="form-control" />
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span>Lütfen jpg,jpeg ya da png formatı kullanın</span>
                    </div>
                    <div class="col-md-7">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(model=>model.ID)
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name,
                               new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.Name,
                               new { @class = "form-control col-md-9" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Surname,
                               new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.Surname,
                               new { @class = "form-control col-md-9" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username,
                               new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.Username,
                               new { @class = "form-control col-md-9" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password,
                               new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.Password,
                               new { @class = "form-control col-md-9" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email,
                               new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.Email,
                               new { @class = "form-control col-md-9" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Kaydet" 
                                       class="btn btn-success" />
                                @Html.ActionLink("Vazgeç","ProfilGoster","Home",null,
                               new {@class="btn btn-default" })
                            </div>
                        </div>

                    </div>
                    <div class="=col-md-2">
                        &nbsp;
                    </div>
                </div>
            }

    </div>




</div>

